.logo-principal{
    width: 100%;
    height: auto;
    border: 1px red solid;
    display: flex;
    justify-content: center;
    margin: 0em;
}

.heroes-titulo{
    font-size: 5rem;
    color: green;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin: 0em;
    width: 100%;
}

body{
    margin: 0px;
}