.logo-principal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0em;
}

.heroes-titulo{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin: 0em;
    width: 100%;
}

.fuerza{
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}

.agilidad{
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;

}
.inteligencia{
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}

.items-titulo{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin: 0em;
    width: 100%;
}

body{
    margin: 0px;
    color: white;
    background-color: black;
}


